<head>
  <title>Aroma - Contact Us</title>
</head>

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="contact">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>About</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Contact Us
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!-- ================ contact section start ================= -->
<section class="section-margin--small m-3">
  <div class="container">
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!------ Include the above in your HEAD tag ---------->

    <!-- Team -->
    <!-- <section id="team" class="pb-5"> -->
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
      <!-- Team member #1 Taha -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class=" img-fluid"
                      src="../../../assets/img/ceo/Taha.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Taha</h4>
                  <p class="card-text">CEO</p>
                  <p
                    class="shadow bg-primary rounded-pill w-75 m-auto text-white"
                  >
                    Hover over! &nbsp;<i class="fa fa-plus"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Taha</h4>
                  <p class="card-text">Hey! I am Mahmoud Taha</p>
                  <p>
                    a Full-Stack/Cross-Platform Mobile Application Developer.
                  </p>
                  <p>Find me @ Linked-In!</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/"
                      >
                        <i class="fa fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member #2 Pop -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class=" img-fluid"
                      src="../../../assets/img/ceo/Pop.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Pop</h4>
                  <p class="card-text">CEO</p>
                  <p
                    class="shadow bg-primary rounded-pill w-75 m-auto text-white"
                  >
                    Hover over! &nbsp;<i class="fa fa-plus"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Pop</h4>
                  <p class="card-text">Yo! I am Muhammad Adel AKA Pop</p>
                  <p>
                    a Full-Stack/Cross-Platform Mobile Application Developer.
                  </p>
                  <p>Find me @ Linked-In & FB!</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/muhammadadel-ma/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.facebook.com/MightyMuhammedAdel"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member #3 Hager-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class=" img-fluid"
                      src="../../../assets/img/ceo/Hager.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Hager</h4>
                  <p class="card-text">CEO</p>
                  <p
                    class="shadow bg-primary rounded-pill w-75 m-auto text-white"
                  >
                    Hover over! &nbsp;<i class="fa fa-plus"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Hager</h4>
                  <p class="card-text">Hey! I am Hager Saleh</p>
                  <p>
                    a Full-Stack/Cross-Platform Mobile Application Developer.
                  </p>
                  <p>Find me @ Linked-In!</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/hager-saleh-67a172131/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member #4 Tony-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../../../assets/img/ceo/Tony.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Tony</h4>
                  <p class="card-text">CEO</p>
                  <p
                    class="shadow bg-primary rounded-pill w-75 m-auto text-white"
                  >
                    Hover over! &nbsp;<i class="fa fa-plus"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Tony</h4>
                  <p class="card-text">Hey! I am Antoin Ashraf</p>
                  <p>
                    a Full-Stack/Cross-Platform Mobile Application Developer.
                  </p>
                  <p>Find me @ Linked-In!</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/antoin-ashraf-a68796115/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
  <!-- </section> -->
  <hr class="col-6" />
  <!-- Team -->
  <h5 class="section-title h1">CONTACT INFO</h5>
  <div class="row m-auto">
    <div class="col-md-4 col-lg-3 mb-4 mb-md-0 shadow m-auto p-3">
      <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-home"></i></span>
        <div class="media-body">
          <h3>Smart Village, Egypt</h3>
          <p>ITI</p>
        </div>
      </div>
      <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-headphone"></i></span>
        <div class="media-body">
          <h3><a href="tel:454545654">+20 (2) 9865 562</a></h3>
          <p>Sun to Thurs 9am to 6pm</p>
        </div>
      </div>
      <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
          <h3>
            <a href="mailto:support@colorlib.com">support@aroma.com</a>
          </h3>
          <p>Send us your query anytime!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ contact section end ================= -->
