
<div class="card text-center card-product">
    <div class="card-product__img">
        <img class="card-img" src="{{prod.imageUrl}}" alt=""> 
        <!--TODO:Change to actual image-->
        <ul class="card-product__imgOverlay">
            <li *ngIf="isAdmin" (click)="onRemoveClick()"><button><i class="ti-trash"></i></button></li>
            <li><button><i (click)="onCartClick()" class="ti-shopping-cart"></i></button></li>
            <li *ngIf="isAdmin" (click)="onEditCartClick()"><button><i class="ti-settings"></i></button></li>
        </ul>
    </div>
    <div class="card-body">
        <p>{{ prod.name }}</p>
        <h4 style="font-size: 20px;" class="card-product__title">{{ prod.shortDescription }}</h4>
        <p class="card-product__price">${{ prod.price }}</p>
    </div>
</div>
