<div *ngFor="let order of ProdsInOrder">
    <div *ngIf="order.orderStatus != orderStatus" class="card">
        <div class="card-header">
            <h3 class="card-title col-4 d-inline">{{order.firstName}} {{order.lastName}}</h3>
            <h3 class="card-title col-2 d-inline">{{ order.orderPlace | date:'medium' }}</h3>
            <button (click)="onAcceptClick(order)" class="btn col-1 btn-info ml-3"> Accept </button>
            <button (click)="onRejectClick(order)" class="btn col-1 btn-danger"> Reject </button>
            <h3 class="card-title col-2 d-inline">{{order.orderStatus}}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Product Name</th>
                        <th>Amount</th>
                        <th style="width: 40px">Price</th>
                    </tr>
                </thead>
                <tbody app-ordertablerow [orderData]="order">
                    
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>